<!-- <ul class="share-buttons footer-links"> -->
<ul class="share-buttons list-inline">
    <strong class="heading">Share this post</strong>
    <li>
        <a
            href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fnikhilweee.me%2F&t="
            title="Share on Facebook"
            target="_blank"
            onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent('{{ site.url }}{{ page.url }}') + '&t=' + encodeURIComponent('{{ site.url }}{{ page.url }}')); return false;">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <li>
        <a
            href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fnikhilweee.me%2F&text=:%20http%3A%2F%2Fnikhilweee.me%2F&via=nikhilweee"
            target="_blank"
            title="Tweet"
            onclick="window.open('https://twitter.com/intent/tweet?text=' + '{{ page.title | uri_escape }}' + '%20-%20' + '{{ page.subtitle | uri_escape }}' + '&url='  + encodeURIComponent('{{ site.url }}{{ page.url }}') + '&via=' + '{{ site.author.twitter }}'); return false;">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <li>
        <a href="https://plus.google.com/share?url=http%3A%2F%2Fnikhilweee.me%2F" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent('{{ site.url }}{{ page.url }}')); return false;">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
</ul>
